//Estilos comúnes
$primary-color: #4285f4;
$secondary-color: #fbbc05;
$background-color: #f2e9ea;
$font-family: "Quicksand", sans-serif;
//Estilo del título Blog
.blog {
  font-size: 2rem;
  color: $primary-color;
}
//Estilo del título Crea tu post
.crea {
  font-size: 1.5rem;
  color: $secondary-color;
}

.post {
  list-style: none;
  padding: 0;

  &__item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
